.login-form {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 1.6rem;
  width: 326px;
  height: 325px;
  margin-top: 4em;
}

.container {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "HelveticaNeueMediumExt";
  src: url("../../assets/fonts/HelveticaMedExt.ttf");
}
