.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 8px;
  border: none;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;

  & span {
    margin-left: 0.3em;
    font-weight: 600;
  }
  & :hover {
    cursor: pointer;
  }
}

.leftBtn {
  background: #ffffff;
  margin-right: 1em;
  color: #65717c;
}

.rightBtn {
  background: #5444f2;
  color: #ffffff;
}
