.bodyContainer {
  margin-left: 20em;
  height: 100vh;
  padding: 2.4em;
}

.leftRightSection {
  display: flex;
  gap: 3em;
  width: 100%;
}

.leftSection {
  flex-grow: 1;
}
.rightSection {
  flex-basis: 41em;
}

@media screen and (max-width: 1112px) {
  .bodyContainer {
    margin-left: 7em;
  }
}

@media screen and (max-width: 1006px) {
  .leftRightSection {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .leftSection {
    flex-grow: 0;
  }
  .rightSection {
    flex-basis: auto;
  }
}
