.activityFeedTable {
  position: relative;
  width: 100%;
  padding: 1.2em 1em;
  & th {
    text-align: start;
    color: #65717c;
  }
  & td {
    font-weight: bolder;
    padding: 1em 0;
    border-bottom: 1px solid #e1e1e1;
  }
}

.activityFeedTable tr td:last-child::after {
  content: url("../../assets/img/openFeedDropdown.svg");
  display: inline-block;
  width: 10px;
  height: 10px;

  position: absolute;
  right: 31px;
}
