.activityFeedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffff;
  border-radius: 8px;
  height: 55em;
}

.activityFeedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1em;
}

.activityHeading {
  font-weight: bolder;
  font-size: 1rem;
  & span {
    color: #65717c;
  }
}

.status {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: #65717c;
}

.created {
  display: flex;
  align-items: center;
}

.created div {
  background-color: #65717c;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 0.7em;
}

.active {
  margin-right: 1em;
  color: #02ba81;
  font-size: 1rem;
}

.divider {
  position: relative;
  background-color: #ffede3;
  height: 4.5em;

  &::before {
    position: absolute;
    content: url("../../assets/img/polarisBank.svg");
    bottom: -21px;
    left: 18px;
  }
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  padding: 4.5em 1em 2em 1em;
}

.bankName {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 0.5em;
}

.bankNo {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #65717c;
}

.accountViewButton {
  position: relative;
  background-color: #ffff;
  font-weight: bolder;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  width: 13em;
  padding-left: 1em;
  height: 3em;
  text-align: start;
  cursor: pointer;

  &::after {
    position: absolute;
    content: url("../../assets/img/openIcon.svg");
    right: 16px;
    bottom: 10px;
  }
}

.lineDivider {
  height: 1px;
  width: 93%;
  background-color: #e1e1e1;
  margin: 0 auto;
}

.feedDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1em;
}

.text {
  color: text;
  margin-bottom: 0.5em;
}

.fig {
  font-weight: bolder;
}
.table {
  width: 100%;
}
